nav {
  background-color: #00a087;
  height: 80px;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header{
  padding-left: 10px;
  font-size: 2em;
  line-height: 80px;
  color: #e8fdff;
}

.comp {
  height: 50px;
  width: 80px;
  align-self: center;
}