.new-tweet {
  background-color: #F0F0F0;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  padding: 0px 10px 5px;
  border: 1px solid black;
  border-radius: 5px;
/*  display: flex;
*/}

.new-tweet h2 {
  border-bottom: 1px solid black;
}

.new-tweet textarea {
  width: 100%;
  padding: 5px;
}

span.counter {
  float: right;
  padding-right: 10px;
}