
.overlay {
  opacity: .75;
}

.overlay:hover {
  background-color: white;
  opacity: 1;
}

#tweets .tweet {
  border: 1px solid black;
  margin: 1em;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

#tweets header {
  background-color: #ededed;
  padding: .5em;
  display: flex;
  justify-content: space-between;
}

#tweets header .avatar {
  height: 60px;
  width: 60px;
  margin-right: .5em;
  float: left;
  z-index: 1;
}

#tweets header h3 {
float: left;
  margin-top: 10px;
}

#tweets header h5 {
float: right;
  margin-top: 10px;
}

#tweets div.content p {
  margin-left: 5px;
  margin-right: 5px;
  word-wrap: break-word;
}

#tweets footer{
  background-color: white;
  border-top: 1px solid black;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tweets footer h6 {
  margin-left: 5px;
  margin-right: 5px;
}

#tweets footer .icons {
  margin-right: 5px;
  opacity: 0;
}

#tweets .overlay:hover footer .icons {
  opacity: 1;
}

#tweets footer .icons i {
  margin-left: 5px;
}